@font-face {
  font-family: "Yekan";
  src: url("../font/Yekan/Yekan.eot"), url("../font/Yekan/Yekan.svg"),
    url("../font/Yekan/Yekan.ttf"), url("../font/Yekan/yekan.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "shabnam-400";
  src: url("../font/shabnam-400/shabnam-400.eot"),
    url("../font/shabnam-400/shabnam-400.woff"),
    url("../font/shabnam-400/shabnam-400.ttf"),
    url("../font/shabnam-400/shabnam-400.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "shabnam-700";
  src: url("../font/shabnam-700/shabnam-700.eot"),
    url("../font/shabnam-700/shabnam-700.ttf"),
    url("../font/shabnam-700/shabnam-700.woff"),
    url("../font/shabnam-700/shabnam-700.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fontAwesome";
  src: url("../font/font-awesome/fonts/fontAwesome.eot"),
    url("../font/font-awesome/fonts/fontAwesome.otf"),
    url("../font/font-awesome/fonts/fontAwesome.svg"),
    url("../font/font-awesome/fonts/fontAwesome.ttf"),
    url("../font/font-awesome/fonts/fontAwesome.woff"),
    url("../font/font-awesome/fonts/fontAwesome.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "uicon";
  src: url("../font/uicons-regular-rounded/font/uicons-regular-rounded.eot"),
    url("../font/uicons-regular-rounded/font/uicons-regular-rounded.woff"),
    url("../font/uicons-regular-rounded/font/uicons-regular-rounded.woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  color: #333;
  font-family: "Yekan";
}

html,
body {
  direction: rtl;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.clear-fix {
  clear: both;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

li {
  list-style: none;
}

button {
  all: unset;
}

button:hover {
  cursor: pointer;
}

img,
.bg-1,
.bg-2,
.bg-3,
.bg-4,
.bg-5,
.bg-6 {
  border-radius: 10px;
  outline: 2px solid #f8b510;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.ml-5 {
  margin-right: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

li {
  list-style: none;
}

a:hover {
  color: darkorange;
}

/* styles in detail */

.title {
  position: relative;
  font-size: 22px;
  color: #f8b510;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 40px;
  padding-bottom: 15px;
}

.title::before {
  /* margin-bottom: -20px; */
  margin-top: 20px;
  content: "";
  position: absolute;
  width: 100%;
  background: #ccc;
  height: 1px;
  bottom: 0;
  left: 0;
  position: absolute;
}

.title::after {
  /* margin-bottom: -10px; */
  position: absolute;
  content: "";
  height: 5px;
  background: #f8b510;
  bottom: 0;
  right: 0;
  width: 250px;
  z-index: 1;
}

.article-title {
  padding-top: 20px;
}

.text-muted {
  color: #888;
}

.text-yellow {
  color: #f8b510;
}

a {
  text-decoration: none;
  transition: all 0.5s;
  font-size: 20px;
  font-weight: 700;
  font-family: "shabnam-700", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

b {
  transition: all 0.5s;
  font-weight: 700;
}

a:hover {
  color: #f8b510;
}

a:hover > b {
  color: #f8b510;
}

.app {
  width: 1300px;
}

@media (max-width: 1299.98px) {
  .app {
    width: 1200px;
  }
}

@media (max-width: 1199.98px) {
  .app {
    width: 992px;
  }
}

@media (max-width: 991.98px) {
  .app {
    width: 768px;
  }
}

@media (max-width: 767.98px) {
  .app {
    width: 576px;
  }
}

@media (max-width: 575.98px) {
  .app {
    padding: 0 20px;
    width: calc(100% - 40px);
  }
}

.header-logo {
  float: left;
  margin: 30px 0;
}

.header-menu {
  float: right;
}

.header-menu-item {
  display: inline-block;
  margin: 30px 15px;
  font-size: 22px;
  color: #333;
}

@media (max-width: 992px) {
  .header-logo {
    width: 100px;
    margin: 32px 0;
  }

  .header-menu-item {
    margin: 10px;
  }
}

@media (max-width: 767.98px) {
  .header-menu {
    display: none;
    width: 100%;
  }

  .header-menu-item {
    display: block;
    border-bottom: 1px solid #888;
    width: 100%;
  }
}

.header-menu-burger {
  float: right;
  margin: 30px 0;
  background-color: #fff;
  color: #000;
  border: none;
}

@media (min-width: 768px) {
  .header-menu-burger {
    display: none;
  }
}

.show {
  display: inline-block !important;
  /* transition: all 0.8s; */
}

/* first row of main content starts here  */
.intro-row {
  width: 100%;
}

.intro-h-600 {
  height: 600px;
}

.intro-h-100 {
  height: 100%;
}

.intro-h-2-3 {
  height: calc(200% / 3);
  margin-bottom: 10px;
}

.intro-h-1-3 {
  height: calc(100% / 3);
}

.intro-h-100 {
  height: 100%;
}

.intro-h-50:first-of-type {
  margin-bottom: 10px;
}

.intro-h-50 {
  height: calc(50% - 5px);
}

.intro-2-3-col {
  float: right;
  margin-left: 10px;
  width: calc(calc(200% / 3) - 10px);
}

.intro-1-3-col {
  float: left;
  width: calc(100% / 3);
}

.intro-1-3-item {
  width: 100%;
}

.intro-1-3-col-item {
  float: right;
  width: calc(100% / 3);
}

.intro-1-3-col-item:nth-of-type(2) {
  margin-left: 10px;
  margin-right: 10px;
  width: calc(calc(100% / 3) - 20px);
}

.intro-item-caption {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.caption-title {
  position: absolute;
  width: 100%;
  bottom: 50px;
  right: 20px;
  /* background-color: #fff; */
}

.caption-title span {
  font-size: 24px;
  font-weight: 800;
  color: #cecece;
}

.caption-title b {
  font-size: 20px;
  font-weight: 800;
  color: #cecece;
}

.caption-info-bar {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.caption-info-bar li {
  display: inline-block;
  margin-left: 20px;
  color: #ccc;
}

.img-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

@media (max-width: 767.98px) {
  .intro-2-3-col {
    /* display: block; */
    /* margin-bottom: 10px; */
    width: 100%;
    float: none;
    margin-left: 0;
  }

  .intro-1-3-col {
    width: 100%;
  }

  .intro-1-3-col-item {
    float: none;
    width: 100%;
  }

  .intro-1-3-col-item:nth-of-type(2) {
    margin: 0 0 10px 0;
    float: none;
    width: 100%;
  }

  .intro-h-600 {
    height: auto;
  }

  .intro-h-100 {
    height: auto;
  }

  .intro-h-50 {
    height: auto;
  }

  .intro-h-2-3 {
    height: auto;
  }

  .intro-h-1-3 {
    height: auto;
  }

  .h-md-300px {
    height: 300px;
    margin-bottom: 10px;
  }
}

.bg-1 {
  background: url("../img/4.jpg") no-repeat center;
  background-size: cover;
  position: absolute;
}

.bg-2 {
  background: url("../img/6.jpg") no-repeat center;
  background-size: cover;
  position: absolute;
}

.bg-3 {
  background: url("../img/8.jpg") no-repeat center;
  background-size: cover;
  position: absolute;
}

.bg-4 {
  background: url("../img/11.jpg") no-repeat center;
  background-size: cover;
  position: absolute;
}

.bg-5 {
  background: url("../img/4.jpg") no-repeat center;
  background-size: cover;
  position: absolute;
}

.bg-6 {
  background: url("../img/6.jpg") no-repeat center;
  background-size: cover;
  position: absolute;
}

/* container part design */
.container {
  width: 100%;
}

.main {
  float: right;
  margin-left: 25px;
  width: calc(calc(200% / 3) - 25px);
}

.main-news {
  margin-bottom: 20px;
}

.main-news img {
  width: 100%;
  /* border-radius: 10px; */
}

button.continue {
  width: auto;
  padding: 8px 5px;
  border: 1px solid #fff;
  background-color: rgb(97, 184, 211);
  border-radius: 10px;
  font-weight: 600;
  color: #fff;
  transition: all 0.5s;
  float: left;
  margin-bottom: 20px;
}

button.continue:hover {
  transform: scale(1.1);
  color: #fff;
  background-color: #f8b510;
}

.info-bar li {
  display: inline-block;
  padding: 0 15px;
}

.info-bar {
  margin: 10px 0;
}

.part-two {
  float: right;
  width: 100%;
}

.sub-content {
  float: right;
  margin-left: 100px;
  margin-bottom: 20px;
  width: calc(calc(40% - 30px));
}

.sub-content img {
  width: 100%;
}

.main-news-img {
  width: 100%;
}

.main-news-w-50 {
  float: right;
  margin-left: 25px;
  width: calc(50% - 25px);
}

.main-news-w-5:nth-of-type() {
  margin-left: 0;
}

.sidebar-title {
  position: relative;
  font-size: 22px;
  color: #f8b510;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 40px;
  padding-bottom: 15px;
}

.sidebar-title:after {
  content: "";
  position: absolute;
  width: 100%;
  background: #ccc;
  height: 1px;
  bottom: 0;
  right: 0;
}

.sidebar-title:before {
  content: "";
  position: absolute;
  width: 150px;
  height: 5px;
  background: #f8b510;
  bottom: 0;
  right: 0;
}

.sidebar {
  float: left;
  margin-right: 25px;
  width: calc(calc(100% / 3) - 25px);
}

.sidebar-item {
  width: 100%;
  margin-bottom: 40px;
}

.sidebar-list {
  padding: 0;
}

.sidebar-list > li {
  padding: 15px 0;
  background-color: #f8b510;
  text-align: center;
  width: 100% !important;
  border-bottom: 1px solid #fff;
}

.popular-post {
  width: 100%;
  margin-bottom: 20px;
}

.popular-img {
  height: 100px;
  width: 100px;
  float: right;
  outline: none !important;
  margin-left: 10px;
}

.popular-post-title .article-title {
  margin-right: 20px;
  width: calc(100% - 10px);
}

.popular-post-title h3 a b {
  font-size: 16px !important;
  font-weight: 700 !important;
}

.subscribe-form {
  margin-top: 20px;
  border: none;
}

.subscribe-form-email {
  padding: 13px 58px 8px 13px;
  float: right;
  /* border: 1px solid #F8B510; */
  border-top: 1px solid #f8b510;
  border-right: 1px solid #f8b510;
  border-bottom: 1px solid #f8b510;
  width: calc(100% - 40px);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}

.form-title {
  font-family: "shabnam-400", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.subs-btn {
  color: #fff;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100px;
  float: left;
  width: 40px;
  height: 50px;
  border: none;
  text-align: center;
  background-color: rgb(96, 184, 211);
  transition: all 0.5s;
}

.subs-btn:hover {
  transform: scale(1.05);
  background-color: #f8b510;
}

.subscribe-form-email:focus {
  outline: #f8b510;
  border: 1px solid #f8b510;
}

@media (max-width: 991.98px) {
  .main {
    width: 100%;
    float: none;
  }

  .sidebar {
    width: 100%;
    float: none;
    margin: 0 auto;
  }
}

@media (max-width: 575px) {
  .main-news-w-50 {
    width: 100%;
    float: none;
  }
}

/* container part design */

/* footer is here */

.footer {
  background-color: #191919;
  position: relative;
  bottom: 0;
}

.footer-row {
  width: 100%;
  background: rgba(25, 25, 25, 0.5);
}

.footer-logo {
  border-radius: 0;
  outline: none;
  border: none;
  float: right;
  height: 25px;
  margin: 30px 0;
}

.footer-p {
  color: #ccc;
  padding: 15px 0;
  line-height: 25px;
  font-size: 16px;
}

.footer-section-title {
  color: #f8b510;
  font-weight: 700;
  text-align: right;
  padding: 30px;
  font-size: 18px;
}

.footer-section-link-item a {
  font-size: 16px;
  color: #ccc;
  line-height: 25px;
  margin-bottom: 20px;
}

.footer-section-link-item a:hover {
  color: #f8b510;
}

.footer-section-link-item {
  margin-bottom: 20px;
}

.footer-line {
  background-color: #888;
  width: 100%;
  height: 1px;
  margin-bottom: 20px;
}

.footer-section-link-item p {
  color: #ccc;
  font-size: 12px;
  padding-top: 10px;
}

.bg-map {
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: contain; */
}

.footer-menu {
  float: right;
  width: 50%;
}

.footer-menu li {
  display: inline-block;
  padding: 0 0 20px 20px;
}

.footer-menu a,
.footer-menu i {
  color: #ccc !important;
  font-weight: 500;
  font-size: 16px !important;
}

.footer-menu a:hover {
  color: #f8b510 !important;
}

.footer-menu *:hover {
  color: #f8b510;
}

.footer-social-links {
  float: left !important;
  color: #ccc !important;
}

.text-white {
  color: #fff;
}

.footer-social-links *:hover {
  color: #f8b510;
  transition: all 0.5s;
}

.footer-col {
  float: right;
  margin-left: 30px;
  width: calc(calc(100% / 3) - 30px);
}

.footer-sicial-links * {
  color: #ccc;
}

.footer-social-links li {
  display: inline-block;
  padding: 0 20px 20px 0;
}

.footer-social-links li:nth-of-type(4) {
  margin-left: 20px;
}

@media (max-width: 767.98px) {
  .footer-col {
    float: none;
    margin-right: 0;
    padding: 15px;
    width: calc(100% - 30px);
  }

  .footer-social-links,
  .footer-menu {
    width: 100%;
    float: none;
    text-align: center;
  }

  .footer-menu li {
    padding: 10px;
  }

  .footer-social-links li {
    padding: 10px;
  }

  .continue {
    margin-top: 18px !important;
  }
}
